.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 10px;
  margin: 30px;
  text-align: center;
}

.pagination_container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.App_button {
  text-align: center;
}